app/home.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
    <link href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title>Adel</title>
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Marketplace</a></li>
        <li><a href="#">Booster Pack</a></li>
        <li><a class="uk-flex-middle" href="#" uk-grid>
            <div class="uk-width-auto">
              <div class="header-btn-wrap uk-position-relative uk-flex uk-flex-center">
                <div class="header-btn-overlay"></div>
                <button class="header-btn">Play</button>
              </div>
            </div></a></li>
      </ul>
    </nav>
    <div class="content-wrapper" id="contentWrapper">
      <div class="page-wrapper" id="pageWrapper">
        <header class="header uk-section-xsmall uk-padding-remove">
          <div class="uk-container">
            <div class="uk-grid-small uk-flex-middle uk-flex" uk-grid>
              <div class="uk-width-expand uk-flex-center uk-flex uk-flex-middle uk-visible@m">
                <ul class="header-ul uk-flex">
                  <li class="header-li"><a class="active" href="#">Home</a></li>
                  <li class="header-li"><a href="#">Marketplace</a></li>
                  <li class="header-li"><a href="#">Booster Packs</a></li>
                </ul>
                <div class="header-btn-wrap uk-position-relative">
                  <div class="header-btn-overlay"></div>
                  <button class="header-btn">Play</button>
                </div>
              </div><a class="uk-navbar-toggle header-mmenu uk-hidden@m" href="#" id="mmenu-icon"><span class="heade-mmenu-icon" uk-navbar-toggle-icon=""></span><span class="uk-margin-small-left heade-mmenu-text">Menu</span></a>
              <div class="uk-width-auto uk-margin-auto-left">
                <div class="uk-flex uk-flex-middle">
                  <div class="header-item uk-position-relative"><a class="header-link-cup uk-position-relative" href="#" type="button"><img class="header-item-img" src="../img/cup.png"><span class="uk-badge header-item-cup uk-position-absolute"></span></a>
                    <div class="header-dropdown-cup" uk-dropdown="mode: click">
                      <div class="header-dropdown-cup_title">
                        <p>Achievements:</p>
                      </div>
                      <div class="header-dropdown-cup_subtitle">
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <div class="header-dropdown-cup_subtitle">
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                    </div>
                  </div>
                  <div class="header-item uk-position-relative"><a class="header-link-bell uk-position-relative" href="#"><img class="header-item-img" src="../img/bell.png"><span class="uk-badge header-item-bell uk-position-absolute"></span></a>
                    <div class="header-dropdown-bell" uk-dropdown="mode: click">
                      <div class="header-dropdown-bell_title">
                        <p>Notifications:</p>
                      </div>
                      <div class="header-dropdown-bell_subtitle">
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <div class="header-dropdown-bell_subtitle">
                        <p>- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                    </div>
                  </div>
                  <div class="header-item">
                    <div class="header-gem-wrap uk-position-relative">
                      <div class="header-gem-overlay"></div>
                      <button class="header-gem">142</button>
                    </div>
                  </div>
                  <div class="header-item uk-position-relative"><a class="header-link-profile uk-position-relative" href="#"><span class="uk-badge header-link-badge uk-position-absolute"></span></a>
                    <div class="header-dropdown-profile" uk-dropdown="mode: click">
                      <div class="header-dropdown-profile_item">
                        <p>Settings</p>
                      </div>
                      <div class="header-dropdown-profile_item">
                        <p>Profile</p>
                      </div>
                      <div class="header-dropdown-profile_item">
                        <p>History games</p>
                      </div>
                      <div class="header-dropdown-profile_item">
                        <p>Log out</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="uk-section-xsmall home">
          <div class="uk-container">
            <div class="uk-grid-small" uk-grid>
              <div class="uk-width-expand@m uk-width-1-1@s">
                <div class="home-link"><a class="uk-flex uk-flex-middle" href="#"><img src="../img/left-btn.png">Back</a></div>
                <div class="home-slick-box uk-flex uk-flex-between"></div>
                <div class="home-slider">
                  <div class="home-box">
                    <div class="home-box-img"><img src="../img/man.png"></div>
                    <div class="home-box-title">
                      <p>The International 2018 Collector’</p>
                    </div>
                    <div class="home-box-subtitle">
                      <p>July 24, 2018</p>
                    </div>
                    <div class="home-box-dsc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p><br>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="home-box-footer uk-flex-middle uk-flex-wrap" uk-grid>
                      <div class="uk-width-auto">
                        <div class="home-box-footer_like uk-flex uk-flex-middle"><a href="#"><img src="../img/like.png"></a>
                          <p>365</p>
                        </div>
                      </div>
                      <div class="uk-width-expand">
                        <div class="home-box-footer_views uk-flex uk-flex-middle uk-flex"><img src="../img/eye.png">
                          <p>7649</p>
                        </div>
                      </div>
                      <div class="uk-width-1-1 uk-width-auto@s">
                        <div class="home-box-footer_social uk-flex-middle uk-flex-left uk-grid-medium" uk-grid><a class="uk-flex-none" href="#"><img src="../img/link.png"></a><a class="uk-flex-none" href="#"><img src="../img/facebook.png"></a><a class="uk-flex-none" href="#"><img src="../img/twitter.png"></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="home-box">
                    <div class="home-box-img"><img src="../img/man.png"></div>
                    <div class="home-box-title">
                      <p>The International 2018 Collector’</p>
                    </div>
                    <div class="home-box-subtitle">
                      <p>July 24, 2018</p>
                    </div>
                    <div class="home-box-dsc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p><br>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="home-box-footer uk-flex-middle uk-flex-wrap" uk-grid>
                      <div class="uk-width-auto">
                        <div class="home-box-footer_like uk-flex uk-flex-middle"><a href="#"><img src="../img/like.png"></a>
                          <p>365</p>
                        </div>
                      </div>
                      <div class="uk-width-expand">
                        <div class="home-box-footer_views uk-flex uk-flex-middle uk-flex"><img src="../img/eye.png">
                          <p>7649</p>
                        </div>
                      </div>
                      <div class="uk-width-1-1 uk-width-auto@s">
                        <div class="home-box-footer_social uk-flex-middle uk-flex-left uk-grid-medium" uk-grid><a class="uk-flex-none" href="#"><img src="../img/link.png"></a><a class="uk-flex-none" href="#"><img src="../img/facebook.png"></a><a class="uk-flex-none" href="#"><img src="../img/twitter.png"></a></div>
                      </div>
                    </div>
                  </div>
                  <div class="home-box">
                    <div class="home-box-img"><img src="../img/man.png"></div>
                    <div class="home-box-title">
                      <p>The International 2018 Collector’</p>
                    </div>
                    <div class="home-box-subtitle">
                      <p>July 24, 2018</p>
                    </div>
                    <div class="home-box-dsc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p><br>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                    <div class="home-box-footer uk-flex-middle uk-flex-wrap" uk-grid>
                      <div class="uk-width-auto">
                        <div class="home-box-footer_like uk-flex uk-flex-middle"><a href="#"><img src="../img/like.png"></a>
                          <p>365</p>
                        </div>
                      </div>
                      <div class="uk-width-expand">
                        <div class="home-box-footer_views uk-flex uk-flex-middle uk-flex"><img src="../img/eye.png">
                          <p>7649</p>
                        </div>
                      </div>
                      <div class="uk-width-1-1 uk-width-auto@s">
                        <div class="home-box-footer_social uk-flex-middle uk-flex-left uk-grid-medium" uk-grid><a class="uk-flex-none" href="#"><img src="../img/link.png"></a><a class="uk-flex-none" href="#"><img src="../img/facebook.png"></a><a class="uk-flex-none" href="#"><img src="../img/twitter.png"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-comments">
                  <div class="home-comments-header uk-flex uk-flex-between uk-flex-middle" uk-grid>
                    <div class="home-comments-header_left uk-flex uk-flex-middle uk-width-1-1 uk-width-expand@s">
                      <div class="home-comments-header_icon"><img src="../img/comments.png"></div>
                      <div class="home-comments-header_text">
                        <p>Comments:</p>
                      </div>
                      <div class="home-comments-header_number">
                        <p>48</p>
                      </div>
                    </div>
                    <div class="home-comments-header_right uk-width-auto">
                      <ul class="uk-flex home-comments-header_ul">
                        <li class="home-comments-header_li uk-flex"><a class="active" href="#">Popular</a></li>
                        <li class="home-comments-header_li uk-flex"><a href="#">Recent</a></li>
                      </ul>
                    </div>
                  </div>
                  <form class="home-comments-input">
                    <input class="home-comments-input_style" type="text" placeholder="Type comment here...">
                  </form>
                  <div class="home-comments-people">
                    <div class="home-comments-people_box uk-flex">
                      <div class="home-comments-people_img"><img src="../img/profile.png"></div>
                      <div class="home-comments-people_text">
                        <div class="home-comments-people_name">
                          <p>Svetlakov<span>22 May</span></p>
                        </div>
                        <div class="home-comments-people_dsc">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
                        </div>
                      </div>
                    </div>
                    <div class="home-comments-people_box uk-flex">
                      <div class="home-comments-people_img"><img src="../img/profile.png"></div>
                      <div class="home-comments-people_text">
                        <div class="home-comments-people_name">
                          <p>Svetlakov<span>22 May</span></p>
                        </div>
                        <div class="home-comments-people_dsc">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="uk-width-1-3@m uk-width-1-1@s">
                <div class="home-news-title">
                  <p>Related News</p>
                </div>
                <div class="home-mobile-slider uk-flex uk-flex-between uk-hidden@m"></div>
                <div class="home-news-slider" id="my-slider">
                  <div>
                    <div class="home-news-img uk-position-relative"><img src="../img/twich.png" alt="#">
                      <div class="home-news-text uk-position-absolute">
                        <h3>Welcome to Nethernite</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="home-news-img uk-position-relative"><img src="../img/twich.png" alt="#">
                      <div class="home-news-text uk-position-absolute">
                        <h3>Welcome to Nethernite</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="home-news-img uk-position-relative"><img src="../img/twich.png" alt="#">
                      <div class="home-news-text uk-position-absolute">
                        <h3>Welcome to Nethernite</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper" id="footerWrapper">
        <footer></footer>
      </div>
    </div>
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>

app/pug/home.pug
extends blocks/_layout

append content
    .uk-section-xsmall.home
        .uk-container
            .uk-grid-small(uk-grid)
                div(class='uk-width-expand@m uk-width-1-1@s')
                    .home-link
                        a(href="#").uk-flex.uk-flex-middle
                            img(src='../img/left-btn.png')
                            | Back
                    .home-slick-box.uk-flex.uk-flex-between
                    .home-slider
                        div.home-box
                            .home-box-img
                                img(src="../img/man.png")
                            .home-box-title
                                p The International 2018 Collector’
                            .home-box-subtitle
                                p July 24, 2018
                            .home-box-dsc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                <br>
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            .home-box-footer.uk-flex-middle.uk-flex-wrap(uk-grid)
                                .uk-width-auto
                                    .home-box-footer_like.uk-flex.uk-flex-middle
                                        a(href="#")
                                            img(src='../img/like.png')
                                        p 365
                                .uk-width-expand
                                    .home-box-footer_views.uk-flex.uk-flex-middle.uk-flex
                                        img(src='../img/eye.png')
                                        p 7649
                                .uk-width-1-1(class="uk-width-auto@s")
                                    .home-box-footer_social.uk-flex-middle.uk-flex-left.uk-grid-medium(uk-grid)
                                        a(href='#').uk-flex-none
                                            img(src='../img/link.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/facebook.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/twitter.png')
                        div.home-box
                            .home-box-img
                                img(src="../img/man.png")
                            .home-box-title
                                p The International 2018 Collector’
                            .home-box-subtitle
                                p July 24, 2018
                            .home-box-dsc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                <br>
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            .home-box-footer.uk-flex-middle.uk-flex-wrap(uk-grid)
                                .uk-width-auto
                                    .home-box-footer_like.uk-flex.uk-flex-middle
                                        a(href="#")
                                            img(src='../img/like.png')
                                        p 365
                                .uk-width-expand
                                    .home-box-footer_views.uk-flex.uk-flex-middle.uk-flex
                                        img(src='../img/eye.png')
                                        p 7649
                                .uk-width-1-1(class="uk-width-auto@s")
                                    .home-box-footer_social.uk-flex-middle.uk-flex-left.uk-grid-medium(uk-grid)
                                        a(href='#').uk-flex-none
                                            img(src='../img/link.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/facebook.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/twitter.png')
                        div.home-box
                            .home-box-img
                                img(src="../img/man.png")
                            .home-box-title
                                p The International 2018 Collector’
                            .home-box-subtitle
                                p July 24, 2018
                            .home-box-dsc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                <br>
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            .home-box-footer.uk-flex-middle.uk-flex-wrap(uk-grid)
                                .uk-width-auto
                                    .home-box-footer_like.uk-flex.uk-flex-middle
                                        a(href="#")
                                            img(src='../img/like.png')
                                        p 365
                                .uk-width-expand
                                    .home-box-footer_views.uk-flex.uk-flex-middle.uk-flex
                                        img(src='../img/eye.png')
                                        p 7649
                                .uk-width-1-1(class="uk-width-auto@s")
                                    .home-box-footer_social.uk-flex-middle.uk-flex-left.uk-grid-medium(uk-grid)
                                        a(href='#').uk-flex-none
                                            img(src='../img/link.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/facebook.png')
                                        a(href='#').uk-flex-none
                                            img(src='../img/twitter.png')
                    .home-comments
                        .home-comments-header.uk-flex.uk-flex-between.uk-flex-middle(uk-grid)
                            .home-comments-header_left.uk-flex.uk-flex-middle(class='uk-width-1-1 uk-width-expand@s')
                                .home-comments-header_icon
                                    img(src='../img/comments.png')
                                .home-comments-header_text
                                    p Comments:
                                .home-comments-header_number
                                    p 48
                            .home-comments-header_right.uk-width-auto
                                ul.uk-flex.home-comments-header_ul
                                    li.home-comments-header_li.uk-flex
                                        a(href='#').active Popular
                                    li.home-comments-header_li.uk-flex
                                        a(href='#') Recent
                        form.home-comments-input
                            input(class="home-comments-input_style" type="text" placeholder="Type comment here...")
                        .home-comments-people
                            .home-comments-people_box.uk-flex
                                .home-comments-people_img
                                    img(src='../img/profile.png')
                                .home-comments-people_text
                                    .home-comments-people_name
                                        p Svetlakov
                                            span 22 May
                                    .home-comments-people_dsc
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                            .home-comments-people_box.uk-flex
                                .home-comments-people_img
                                    img(src='../img/profile.png')
                                .home-comments-people_text
                                    .home-comments-people_name
                                        p Svetlakov
                                            span 22 May
                                    .home-comments-people_dsc
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                div(class='uk-width-1-3@m uk-width-1-1@s')
                    .home-news-title
                        p Related News
                    .home-mobile-slider.uk-flex.uk-flex-between(class='uk-hidden@m')
                    .home-news-slider(id='my-slider')
                        div
                            .home-news-img.uk-position-relative
                                img(src='../img/twich.png' alt='#')
                                .home-news-text.uk-position-absolute
                                    h3 Welcome to Nethernite
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        div
                            .home-news-img.uk-position-relative
                                img(src='../img/twich.png' alt='#')
                                .home-news-text.uk-position-absolute
                                    h3 Welcome to Nethernite
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        div
                            .home-news-img.uk-position-relative
                                img(src='../img/twich.png' alt='#')
                                .home-news-text.uk-position-absolute
                                    h3 Welcome to Nethernite
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
